* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.all {
    width: 1140px;
    margin: 0px auto;
    height: 1100px;
}

.Information {
    width: 100%;
    height: 40%;
    float: left;
}

.imgPersonal {
    float: left;
    width: 30%;
}

.Detail {
    margin-top: 40px;
    float: left;
    width: 65%;
    margin-left: 50px;
}

.detail1 {
    height: 50%;
}

.detail2 {
    height: 45%;
    margin-top: 5%;
}

.birthday,
.address,
.url {
    margin-top: 10px;
    float: left;
    width: 55%;
    margin-left: 20px;
}

.email,
.sdt {
    float: left;
    width: 35%;
    margin-top: 10px;
    margin-left: 20px;
}

.content {
    margin-top: 100px;
    width: 100%;
    height: 70%;
}

.ability {
    float: left;
    width: 30%;
}

.kinang {
    text-align: left;
    color: white;
    background: url(./img/backgroud_left.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.maincontent {
    margin-left: 50px;
    float: left;
    width: 65%;
}

.namecontent {
    margin-bottom: 20px;
    float: left;
}

div.vertical-line {
    width: 1px;
    background-color: black;
    height: 250px;
    float: left;
    margin-left: 60px;
}

.datejob {
    width: 400px;
    float: left;
    margin-left: 100px;
}

.right {
    text-align: right;
    margin-right: 15px;
}

.left {
    margin-left: 10px;
}

.content1 {
    height: 300px;
}

div.vertical-line1 {
    width: 1px;
    background-color: black;
    height: 250px;
    float: left;
    margin-left: 67px;
}